{{ define "templates/layouts/html/header" }}
    <!-- Begin Site Title
        ================================================== -->
    <div class="container">
        <div class="mainheading">
            <h1 class="sitetitle">{{ .APP_NAME }}</h1>
            <p class="lead">
                {{ .APP_Slogan }}
            </p>
        </div>
        <!-- End Site Title
        ================================================== -->
{{ end }}